gdstk>=0.9.49,<0.10
jinja2<4
loguru<1
matplotlib<4
numpy<2
omegaconf<3
orjson<4
pandas<3
pydantic>=2<2.8
pydantic-settings<3
pydantic-extra-types<3
pyyaml
qrcode
rectpack<1
rich<14
scipy<2
shapely<3
toolz<1
types-PyYAML
typer<1
watchdog<5
kfactory[git,ipy]~=0.17.1
freetype-py
mapbox_earcut
networkx
scikit-image
trimesh>=4,<4.4
ipykernel